.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $almost-black;
  border: 2px solid $almost-black;
  cursor: pointer;
}
