.catalog-main__div-for-header {
  background-color: $grey2;
}

.catalog-main__header {
  width: 240px;
  margin: 0 auto;
  padding: 73px 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}

.catalog-main__catalog-section {
  margin-top: 30px;
}

.catalog-main__production-process {
  margin-bottom: 60px;
}
