.catalog-main__div-for-header {
  background-color: $grey2;
}

.catalog-main__header {
  width: 240px;
  margin: 0 auto;
  padding: 73px 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}

.catalog-main__catalog-section {
  margin-top: 30px;
}

.catalog-main__production-process {
  margin-top: 30px;
  margin-bottom: 58px;
}

@media (min-width: $tablet-min-width) {
  .catalog-main {
    margin-top: -66px;
    border-top: 1px solid $grey3;
  }

  .catalog-main__div-for-header {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: -15px;
      width: 100%;
      height: 25px;
      background-image: url("../img/zigzag-fill-tablet.svg");
    }
  }

  .catalog-main__header {
    width: 376px;
    padding: 101px 0 72px;
    font-size: 43px;
    line-height: 50px;
  }

  .catalog-main__catalog-section {
    margin-top: 81px;
  }

  .catalog-main__production-process {
    margin-top: 53px;
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-min-width) {
  .catalog-main {
    margin-top: -64px;
  }

  .catalog-main__header {
    width: 464px;
    padding-bottom: 98px;
    font-size: 53px;
    line-height: 57px;
  }

  .catalog-main__div-for-header {
    &::after {
      height: 34px;
      background-image: url("../img/zigzag-fill-desktop--catalog.svg");
    }
  }

  .catalog-main__catalog-section {
    margin-top: 126px;
  }

  .catalog-main__production-process {
    margin-top: 57px;
    margin-bottom: 105px;
  }
}
