.email-and-address-section {
  padding: 45px 0 33px;
  display: grid;
  grid-template-columns: 76px 183px;
  row-gap: 40px;
}

.email-and-address-section__header {
  grid-column: 1/-1;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.email-and-address-section__label,
.email-and-address-section__value {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $almost-black;
}

.email-and-address-section__value--address {
  width: 150px;
  font-style: normal;
}

.email-and-address-section__value--email {
  text-decoration: none;
  border-bottom: 1px solid $green;
}

@media (min-width: $tablet-min-width) and (max-width: $desktop-min-width - 1px) {
  .email-and-address-section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-min-width) {
  .email-and-address-section__header {
    width: 100%;
    padding-right: 100px;
    font-size: 43px;
    line-height: 50px;
  }

  .email-and-address-section__label,
  .email-and-address-section__value {
    font-size: 17px;
  }

  .email-and-address-section__value--address {
    width: 230px;
  }

  .email-and-address-section__value--address br {
    display: none;
  }

  .email-and-address-section__value--email {
    margin-right: 45px;
  }
}


@media (min-width: $desktop-min-width) {
  .email-and-address-section {
    grid-template-columns: 82px 249px;
  }

  .email-and-address-section__header {
    font-size: 53px;
    line-height: 57px;
  }
}
