.feedback-section {
  padding: 30px 0 45px;
}

.feedback-section__container {
  margin: 0 auto;
  width: $mobile-width;
  padding: 0 30px;
}

.feedback-section__header {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.feedback-section__quote {
  display: block;
  margin: 15px 0 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $almost-black;

  &::before,
  &::after {
    content: none;
  }
}

.feedback-section__author-info-div {
  margin-top: 30px;
}

.feedback-section__author {
  margin: 0;
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.feedback-section__author-insta {
  margin: 10px 0 0;
  font-size: 17px;
  line-height: 24px;
}

.feedback-section__control-buttons-div {
  margin-top: 30px;
}

.feedback-section__button {
  margin-top: 38px;
}

@media (min-width: $tablet-min-width) {
  .feedback-section {
    padding: 0;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .feedback-section__container {
    display: grid;
    grid-template-columns: 285px 175px;
    column-gap: 226px;
    width: $tablet-min-width;
    padding: 82px 50px 47px;
  }

  .feedback-section__header {
    font-size: 43px;
    line-height: 50px;
  }

  .feedback-section__quote {
    margin-top: 40px;
    grid-row: 2;
    grid-column: 1/-1;
    font-size: 17px;
  }

  .feedback-section__author-info-div {
    margin-top: 60px;
    grid-row: 3;
  }

  .feedback-section__author {
    font-size: 18px;
  }

  .feedback-section__author-insta {
    font-size: 18px;
  }

  .feedback-section__control-buttons-div {
    margin-top: 60px;
    grid-row: 3;
  }

  .feedback-section__button {
    margin: 0;
    width: auto;
  }
}


@media (min-width: $desktop-min-width) {
  .feedback-section {
    width: 1150px;
    margin: 0 auto;
  }

  .feedback-section__container {
    column-gap: 450px;
    padding: 78px 0 96px 175px;
    width: auto;
  }
}
