.fieldset-extra-info__header {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $green-light;
}

.fieldset-extra-info__comment-textarea {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  resize: none;
}
