@media (min-width: $desktop-min-width) {
  .fieldset-color__div {
    grid-template-columns: 100px 700px;
  }

  .fieldset-color__input-div {
    grid-template-columns: repeat(3, auto);
  }

  .fieldset-color__label:nth-of-type(-n+3) {
    margin-top: 0;
  }
}
