.fieldset-contacts {
  padding-bottom: 34px;
}

.fieldset-contacts__label {
  display: block;
  margin: 34px 0 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $green-light;
}

.fieldset-contacts__label:first-of-type {
  margin: 0;
}

.fieldset-contacts__input {
  width: 100%;
  padding: 17px 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: none;
  box-shadow: inset 0 -2px 0 $black;
}

.fieldset-contacts__input--phone {
  &::placeholder {
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-min-width) {
  .fieldset-contacts {
    background-color: $grey2;
  }

  .fieldset-contacts__container {
    display: grid;
    grid-template-columns: 100px 500px;
    column-gap: 20px;
  }

  .fieldset-contacts__input {
    background-color: inherit;
  }

  .fieldset-contacts__label {
    align-self: center;
    margin: 0;
  }
}
