.fieldset-name {
  padding-bottom: 34px;
}

.fieldset-name__header {
  margin: 0 0 29px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green-light;
}

.fieldset-name__label {
  display: block;
  margin-top: 22px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.fieldset-name__label:first-of-type {
  margin-top: 0;
}

.fieldset-name__input {
  width: 100%;
  padding: 17px 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: none;
  box-shadow: inset 0 -2px 0 $black;
}
