.fieldset-type {
  padding-bottom: 40px;
}

.fieldset-type__header {
  margin: 0 0 32px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green-light;
}

.fieldset-type__label {
  margin: 24px 0 0;
  padding-left: 60px;
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.fieldset-type__label:first-of-type {
  margin: 0;
}

@media (min-width: $tablet-min-width) {
  .fieldset-type__div {
    display: grid;
    grid-template-columns: 100px 500px;
    column-gap: 70px;
  }

  .fieldset-type__header {
    grid-row: 1/-1;
    grid-column: 1;
    margin: 0;
  }

  .fieldset-type__label {
    font-size: 19px;
  }
}
