.fieldset-color__header {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green-light;
}

.fieldset-color__label {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}
