.fieldset-name__header {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green-light;
}

.fieldset-name__label {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.fieldset-name__input {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
}
