.fieldset-extra-info__header {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $green-light;
}

.fieldset-extra-info__comment-textarea {
  margin-top: 22px;
  width: 100%;
  min-height: 142px;
  padding: 17px;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid black;
  resize: none;
}

@media (min-width: $tablet-min-width) {
  .fieldset-extra-info__div {
    display: grid;
    grid-template-columns: 100px 500px;
    column-gap: 20px;
  }

  .fieldset-extra-info__comment-textarea {
    margin-top: 0;
  }
}
