.form {
  padding-bottom: 55px;
}

.form__submit-button {
  margin-top: 20px;
  font-size: 17px;
  line-height: 16px;
  background-color: $white;
  color: $almost-black;
}

.form__necessary-fields-info {
  margin: 0;
}
