.form {
  padding-bottom: 55px;
}

.form__submit-button {
  margin-top: 20px;
  font-size: 17px;
  line-height: 16px;
  background-color: $white;
  color: $almost-black;
}

.form__necessary-fields-info {
  margin: 0;
}

@media (min-width: $tablet-min-width) {
  .form__necessary-fields-info-and-submit-button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }

  .form__necessary-fields-info {
    order: 2;
  }

  .form__submit-button {
    margin: 0;
  }
}

@media (min-width: $desktop-min-width) {
  .form__necessary-fields-info-and-submit-button-div {
    margin-left: 175px;
  }
}
