.intro {
  padding-top: 72px;
  background-color: $grey;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px auto;
  background-repeat: no-repeat;
  background-position: center -18px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.intro__options {
  margin-top: 120px;
}

.intro__header {
  width: 260px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-min-width) {
  .intro {
    position: relative;
    padding-top: 154px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px auto;
    background-position-y: -2px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -15px;
      width: 100%;
      height: 25px;
      background-image: url("../img/zigzag-fill-tablet.svg");
    }
  }

  .intro__header {
    width: auto;
    font-size: 43px;
    line-height: 50px;
  }

  .intro__options {
    margin: 371px auto 0;
    display: flex;
    align-items: flex-end;
    width: fit-content;
  }
}

@media (min-width: $desktop-min-width) {
  .intro {
    padding-top: 157px;
    padding-bottom: 5px;

    &::after {
      bottom: -10px;
      height: 34px;
      background-image: url("../img/zigzag-fill-desktop.svg");
    }
  }

  .intro__header {
    font-size: 53px;
    line-height: 57px;
  }

  .intro__options {
    margin: 355px auto 0;
  }
}
