.logo-and-toggle-button {
  padding: 22px 0;
}

.logo-and-toggle-button__logo {
  margin: 0 auto;
  display: block;
  width: fit-content;
}

.logo-and-toggle-button__toggle-button {
  padding: 0;
  width: 21px;
  height: 20px;
  background-color: transparent;
  border: none;
}

@media (min-width: $tablet-min-width) {
  .logo-and-toggle-button__toggle-button {
    display: none;
  }

  .logo-and-toggle-button {
    width: 350px;
    padding: 0;
  }
}
