@media (min-width: $tablet-min-width) {
  .main-index {
    margin-top: -65px;
    border-top: 1px solid $grey3;

    &::before {
      height: 15px;
      background-size: 770px;
    }
  }

  .main-index__feedback-section {
    margin-top: 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .main-index {
    margin-top: -64px;

    &::before {
      top: 1400px;
      height: 21px;
      background-size: 1050px;
      background-repeat: no-repeat;
      background-position-x: center;
    }
  }

  .main-index__contact-section {
    margin-top: 40px;
  }
}
