.main-nav__logo-img {
  transition-duration: 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__container {
  border-top: 1px solid $grey3;
  border-bottom: 1px solid $grey3;
}

.main-nav__free-delivery-paragraph,
.main-nav__menu-new-and-sell {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .main-nav__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: $tablet-min-width;
    padding: 0 50px;
    border: none;
  }

  .main-nav__logo-img {
    width: 113px;
    height: 46px;
  }

  .main-nav__free-delivery-paragraph {
    order: 4;
    display: block;
    z-index: 1;
    margin: 0 0 0 auto;
    font-size: 15px;
    line-height: 24px;
    color: $almost-black;
  }

  .main-nav__menu-catalog-and-personal {
    order: 3;
    z-index: 1;
  }

  .main-nav__menu-new-and-sell {
    order: 2;
  }
}

@media (min-width: $desktop-min-width) {
  .main-nav__container {
    width: $desktop-min-width;
  }

  .main-nav__logo-img {
    width: 149px;
    height: 72px;
  }

  .main-nav__menu-catalog-and-personal {
    order: 1;
  }

  .main-nav__logo-and-toggle-button {
    order: 2;
    margin-left: 64px;
    width: auto;
  }

  .main-nav__menu-search-and-bucket {
    order: 3;
    align-self: stretch;
    margin-left: 100px;
  }

  .main-nav__menu-new-and-sell {
    order: 4;
    display: flex;
    z-index: 1;
  }
}
