.main-form__div-for-header {
  background-color: $grey2;
}

.main-form__header {
  width: 276px;
  margin: 0 auto;
  padding: 73px 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}

.main-form__intro-text {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $almost-black;
}
