.main-footer {
  padding: 25px 0 24px;
  background-color: $grey2;
}

.main-footer__social-section {
  padding-bottom: 20px;
  border-bottom: 1px solid $grey4;
}

.main-footer__academy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 21px auto 0;
  width: 182px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  text-decoration: none;
  color: $black;
}

.main-footer__academy-link:hover .main-footer__academy-svg {
  fill: $green-dark2;
}

.main-footer__academy-link:active .main-footer__academy-svg {
  opacity: 0.3;
}

.main-footer__logo-link {
  display: none;
}

.main-footer__logo-link:hover .main-footer__logo-img {
  fill: $green-dark2;
}

.main-footer__logo-link:active .main-footer__logo-img {
  opacity: 0.3;
}

@media (min-width: $tablet-min-width) {
  .main-footer {
    padding: 53px 0 34px;
  }

  .main-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .main-footer__academy-link {
    margin: 0;
  }

  .main-footer__logo-link {
    display: block;
  }

  .main-footer__social-section {
    border: none;
  }
}
