.main-footer {
  padding: 25px 0 22px;
  background-color: $grey2;
}

.main-footer__academy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto 0;
  width: 182px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  text-decoration: none;
  color: $black;
}

.main-footer__logo-link {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .main-footer {
    padding: 53px 0 60px;
  }

  .main-footer__container {
    display: flex;
    justify-content: space-between;
  }

  .main-footer__academy-link {
    margin: 0;
  }

  .main-footer__logo-link {
    display: block;
  }
}
