.menu__item {
  box-shadow: 0 1px 0 $grey3, inset 0 1px 0 $grey3;
  color: $black;

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.menu__item:hover .menu-search-and-bucket__icon-search,
.menu__item:hover .menu-search-and-bucket__icon-cart {
  opacity: 1;
  fill: $green-light;
  transition-duration: 0.3s;
}

.menu__item:active .menu-search-and-bucket__icon-search,
.menu__item:active .menu-search-and-bucket__icon-cart {
  opacity: 0.3;
}

.menu__link {
  display: block;
  margin: 0 auto;
  width: 260px;
  padding: 29px 20px 26px 46px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
}

.menu--hidden {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .menu {
    display: flex;
  }

  .menu--hidden {
    display: flex;
  }

  .menu__item {
    box-shadow: none;
  }

  .menu__link {
    padding: 21px 20px;
  }
}
