.menu__link {
  display: block;
  padding: 28px 20px 26px 58px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: $black;
}

.menu--hidden {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .menu {
    display: flex;
  }

  .menu--hidden {
    display: flex;
  }

  .menu__link {
    padding: 21px 20px;
  }
}
