.modal {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 336px;
  text-align: center;
  background-color: $white;
  border: 1px solid $grey5;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  transform: translate(-50%, -50%);
  z-index: 3;
}

.modal--close {
  display: none;
}

.modal__container {
  margin: 0 auto;
  width: $mobile-width;
  padding: 29px 30px 46px;
}

.modal__header {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal__choose-paragraph {
  margin: 15px 0 0;
  font-size: 15px;
  line-height: 30px;
}

.modal__form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 7px;
}

.modal__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 52px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}

.modal__box {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 82px;
  height: 52px;
  border: 2px solid $grey5;
}

.modal__input {
  position: absolute;
  appearance: none;
}

.modal__input:checked + .modal__box {
  border: 2px solid $green-light;
}

.modal__submit-button {
  grid-column: 1/-1;
  margin-top: 30px;
  width: 100%;
  padding: 19px 15px 17px;
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $white;
  background-color: $green-light;
  border: none;
}

@media (min-width: $tablet-min-width) {
  .modal {
    width: 566px;
  }

  .modal__container {
    width: auto;
    padding: 37px 104px 46px 106px;
  }

  .modal__header {
    width: auto;
    font-size: 30px;
    line-height: 57px;
  }

  .modal__header br {
    display: none;
  }

  .modal__choose-paragraph {
    margin-top: 10px;
    font-size: 17px;
  }

  .modal__label {
    width: 112px;
  }

  .modal__box {
    width: 112px;
  }
}
