.options__link {
  position: relative;
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 24px 120px 31px 0;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: $white;

  &::after {
    position: absolute;
    content: "";
    top: 23px;
    right: 6px;
    width: 40px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
    opacity: 0.5;
    transition-duration: 0.3s;
  }
}

.options__link--toys {
  &::after {
    top: 21px;
    right: -3px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
  }
}

.options__item--interior {
  background-color: $green-light;
  transition-duration: 0.3s;

  &:hover {
    background-color: $green-light2;
  }
}

.options__item--toys {
  background-color: $green-dark;
  transition-duration: 0.3s;

  &:hover {
    background-color: $green-dark2;
  }
}

.options__item--interior:hover .options__link,
.options__item--toys:hover .options__link {
  padding-bottom: 35px;
  transition-duration: 0.3s;
}

.options__item:hover .options__link {
  &::after {
    opacity: 0.7;
  }
}

.options__item:active .options__link {
  &::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-min-width) {
  .options__item {
    width: 334px;
  }

  .options__link {
    margin: 0;
    width: auto;
    padding: 26px 140px 30px 36px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 30px;
      right: 37px;
    }
  }

  .options__link--toys {
    &::after {
      top: 32px;
      right: 34px;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .options__item {
    width: 525px;
  }

  .options__link {
    padding: 26px 320px 30px 36px;
  }
}
