.production-process {
  padding: 22px 0 50px;
}

.production-process__header {
  margin: 0;
  padding-left: 91px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.production-process__image {
  margin-top: 27px;
}

.production-process__description {
  margin: 25px auto 0;
  width: 200px;
}

.production-process__order-button {
  margin: 40px auto 0;
  width: 192px;
}
