.production-process {
  padding: 22px 0 32px;
  border: 1px solid $grey3;
}

.production-process__header {
  position: relative;
  margin: 0;
  padding-left: 90px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  &::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 33px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.production-process__play-button {
  position: absolute;
  left: 79px;
  top: 37px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.production-process__div-for-video {
  position: relative;
  margin-top: 25px;
}

.production-process__div-for-video:hover .production-process__play-button {
  transform: scale(1.2);
}

.production-process__div-for-video:active .production-process__play-button {
  transform: scale(0.8);
  opacity: 0.3;
}

.production-process__description {
  margin: 27px auto 0;
  width: 193px;
}

.production-process__order-button {
  margin: 42px auto 0;
  width: 192px;

  &:hover {
    background-color: $almost-black;
    color: $white;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

@media (min-width: $tablet-min-width) {
  .production-process {
    display: grid;
    padding: 0 0 45px;
  }

  .production-process__div-for-video {
    order: -1;
    margin: 0;
    min-height: 455px;
  }

  .production-process__play-button {
    left: 283px;
    top: 188px;
  }

  .production-process__image {
    display: block;
    width: 668px;
    height: auto;
  }

  .production-process__header {
    margin-top: 40px;
    padding-left: 106px;
    font-size: 20px;

    &::before {
      top: -7px;
      left: 41px;
    }
  }

  .production-process__description {
    margin-top: 25px;
    width: 593px;
    font-size: 15px;
    line-height: 30px;
  }

  .production-process__order-button {
    margin-top: 40px;
    width: 584px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-min-width) {
  .production-process {
    display: grid;
    grid-template-columns: 683px 230px;
    grid-template-rows: min-content min-content 1fr;
    column-gap: 78px;
    padding-bottom: 0;
  }

  .production-process__image {
    width: 682px;
    height: auto;
  }

  .production-process__div-for-video {
    grid-column: 1;
    grid-row: 1/-1;
    margin: 0;
    min-height: 453px;
  }

  .production-process__play-button {
    left: 291px;
  }

  .production-process__header {
    padding: 96px 0 0;
    margin: 0;

    &::before {
      top: 41px;
      left: 0;
    }
  }

  .production-process__description {
    width: auto;
    margin-top: 27px;
  }

  .production-process__order-button {
    margin: 51px 0 61px;
    width: 230px;
  }
}
