@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

body {
  margin: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px; }

img {
  max-width: 100%; }

.container {
  margin: 0 auto;
  width: 320px;
  padding: 0 30px; }
  @media (min-width: 768px) {
    .container {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .container {
      width: 1150px; } }

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.reset-fieldset {
  margin: 0;
  padding: 0;
  border: none; }

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.intro {
  padding-top: 72px;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px auto;
  background-repeat: no-repeat;
  background-position: center -18px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .intro {
      background-image: url("../img/hero-mobile@2x.jpg"); } }

.intro__options {
  margin-top: 120px; }

.intro__header {
  width: 260px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center; }

@media (min-width: 768px) {
  .intro {
    position: relative;
    padding-top: 154px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px auto;
    background-position-y: -2px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .intro {
      background-image: url("../img/hero-tablet@2x.jpg"); } }

@media (min-width: 768px) {
    .intro::after {
      position: absolute;
      content: "";
      bottom: -15px;
      width: 100%;
      height: 25px;
      background-image: url("../img/zigzag-fill-tablet.svg"); }
  .intro__header {
    width: auto;
    font-size: 43px;
    line-height: 50px; }
  .intro__options {
    margin: 371px auto 0;
    display: flex;
    align-items: flex-end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; } }

@media (min-width: 1150px) {
  .intro {
    padding-top: 157px;
    padding-bottom: 5px; }
    .intro::after {
      bottom: -10px;
      height: 34px;
      background-image: url("../img/zigzag-fill-desktop.svg"); }
  .intro__header {
    font-size: 53px;
    line-height: 57px; }
  .intro__options {
    margin: 355px auto 0; } }

.options__link {
  position: relative;
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 24px 120px 31px 0;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: white; }
  .options__link::after {
    position: absolute;
    content: "";
    top: 23px;
    right: 6px;
    width: 40px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
    opacity: 0.5;
    transition-duration: 0.3s; }

.options__link--toys::after {
  top: 21px;
  right: -3px;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-toy.svg"); }

.options__item--interior {
  background-color: #63d1bb;
  transition-duration: 0.3s; }
  .options__item--interior:hover {
    background-color: #59d5bc; }

.options__item--toys {
  background-color: #56c3b2;
  transition-duration: 0.3s; }
  .options__item--toys:hover {
    background-color: #46c1ae; }

.options__item--interior:hover,
.options__item--toys:hover {
  transform: translateY(-5px);
  transition-duration: 0.3s; }

.options__item:hover .options__link::after {
  opacity: 0.7; }

.options__item:active .options__link::after {
  opacity: 0.3; }

@media (min-width: 768px) {
  .options__item {
    width: 334px; }
  .options__link {
    margin: 0;
    width: auto;
    padding: 26px 140px 30px 36px;
    font-size: 20px;
    line-height: 30px; }
    .options__link::after {
      top: 30px;
      right: 37px; }
  .options__link--toys::after {
    top: 32px;
    right: 34px; } }

@media (min-width: 1150px) {
  .options__item {
    width: 525px; }
  .options__link {
    padding: 26px 320px 35px 36px; } }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  padding: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  border: 2px solid #444444;
  cursor: pointer; }

.button--hidden {
  display: none; }

.week-product {
  position: relative;
  padding-bottom: 42px; }
  .week-product::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px; }

.week-product__picture {
  margin-top: 28px;
  display: block; }

.week-product__image {
  background-color: #fafafa; }

.week-product__header-and-label-div {
  margin-top: 31px; }

.week-product__header {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px; }

.week-product__label {
  margin: 5px 0 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb; }

.week-product__product-info-div {
  margin-top: 17px; }

.week-product__description {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }

.week-product__price {
  margin: 19px 0 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444; }

.week-product__description-table {
  margin: 20px 0 0; }

.week-product__order-button {
  margin: 24px 0 0; }
  .week-product__order-button:hover {
    background-color: #444444;
    color: white; }
  .week-product__order-button:active {
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .week-product {
    padding-bottom: 60px;
    overflow: hidden; }
    .week-product::after {
      height: 9px;
      transform: scale(2.4); }
  .week-product__header-and-label-div {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .week-product__header {
    font-size: 43px;
    line-height: 50px; }
  .week-product__label {
    margin: 0 27px 5px 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    font-size: 17px;
    line-height: 17px;
    text-align: center; }
  .week-product__product-info-div {
    margin-top: 38px;
    display: grid;
    grid-template-rows: repeat(4, -webkit-min-content);
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 292px 334px;
    -moz-column-gap: 42px;
         column-gap: 42px; }
  .week-product__description {
    font-size: 17px;
    line-height: 30px; }
  .week-product__description-table,
  .week-product__price,
  .week-product__order-button {
    grid-column: 1; }
  .week-product__description-table {
    margin-top: 31px; }
  .week-product__price {
    margin-top: 46px;
    font-size: 20px; }
  .week-product__order-button {
    align-self: center;
    margin-top: 20px;
    width: 292px;
    font-size: 17px; }
  .week-product__picture {
    grid-column: 2;
    grid-row: 1/-1;
    margin-top: 13px; }
  .week-product__image {
    width: 334px;
    height: 404px; } }

@media (min-width: 1150px) {
  .week-product {
    padding-bottom: 92px; }
    .week-product::after {
      display: none; }
  .week-product__header-and-label-div {
    margin-left: 46px;
    margin-top: 121px;
    width: 656px; }
  .week-product__header {
    order: 1;
    margin-top: 4px;
    font-size: 53px;
    line-height: 57px; }
  .week-product__label {
    margin: 0; }
  .week-product__product-info-div {
    position: relative;
    grid-template-columns: 292px;
    margin-top: 36px;
    margin-left: 175px; }
  .week-product__description-table {
    margin-top: 52px; }
  .week-product__price {
    margin-top: 112px; }
  .week-product__order-button {
    margin-top: 32px; }
  .week-product__image {
    position: absolute;
    top: -167px;
    right: 0;
    width: 525px;
    height: 636px;
    z-index: -1; }
  .week-product__picture {
    position: relative; } }

.main-footer {
  padding: 25px 0 24px;
  background-color: #f1f1f1; }

.main-footer__social-section {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5; }

.main-footer__academy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 21px auto 0;
  width: 182px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  text-decoration: none;
  color: black; }

.main-footer__academy-text {
  margin: 0;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content; }

.main-footer__academy-link:hover .main-footer__academy-svg {
  fill: #46c1ae; }

.main-footer__academy-link:active .main-footer__academy-svg {
  opacity: 0.3; }

.main-footer__logo-link {
  display: none; }

.main-footer__logo-link:hover .main-footer__logo-img {
  fill: #46c1ae; }

.main-footer__logo-link:active .main-footer__logo-img {
  opacity: 0.3; }

@media (min-width: 768px) {
  .main-footer {
    padding: 53px 0 34px; }
  .main-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: end; }
  .main-footer__academy-link {
    margin: 0; }
  .main-footer__logo-link {
    display: block; }
  .main-footer__social-section {
    border: none; } }

.catalog-main__div-for-header {
  background-color: #f1f1f1; }

.catalog-main__header {
  width: 240px;
  margin: 0 auto;
  padding: 73px 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px; }

.catalog-main__catalog-section {
  margin-top: 30px; }

.catalog-main__production-process {
  margin-top: 30px;
  margin-bottom: 58px; }

@media (min-width: 768px) {
  .catalog-main {
    margin-top: -66px;
    border-top: 1px solid #ececec; }
  .catalog-main__div-for-header {
    position: relative; }
    .catalog-main__div-for-header::after {
      position: absolute;
      content: "";
      bottom: -15px;
      width: 100%;
      height: 25px;
      background-image: url("../img/zigzag-fill-tablet.svg"); }
  .catalog-main__header {
    width: 376px;
    padding: 101px 0 72px;
    font-size: 43px;
    line-height: 50px; }
  .catalog-main__catalog-section {
    margin-top: 81px; }
  .catalog-main__production-process {
    margin-top: 53px;
    margin-bottom: 64px; } }

@media (min-width: 1150px) {
  .catalog-main {
    margin-top: -64px; }
  .catalog-main__header {
    width: 464px;
    padding-bottom: 98px;
    font-size: 53px;
    line-height: 57px; }
  .catalog-main__div-for-header::after {
    height: 34px;
    background-image: url("../img/zigzag-fill-desktop--catalog.svg"); }
  .catalog-main__catalog-section {
    margin-top: 126px; }
  .catalog-main__production-process {
    margin-top: 57px;
    margin-bottom: 105px; } }

.card {
  display: flex;
  flex-direction: column; }

.card:hover .card__info-div {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }

.card:active .card__info-div {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.card__image {
  display: block;
  background-color: #fafafa; }

.card__info-div {
  padding: 27px 27px 0;
  border: 1px solid #ececec; }

.card__info-div--big-bucket {
  padding-top: 24px; }

.card__header {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: black; }
  .card__header:hover {
    opacity: 0.6; }
  .card__header:active {
    opacity: 0.3; }

.card__header--big-bucket {
  margin-top: 5px; }

.card__description {
  margin: 1px 0 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: #444444; }

.card__description--bucket {
  margin-top: 5px; }

.card__description--big-bucket {
  margin-top: 9px; }

.card__price-and-order-button-div {
  display: flex;
  justify-content: space-between;
  margin: 22px 0 0;
  padding: 22px 0 24px;
  border-top: 1px solid #ececec; }

.card__price-and-order-button-div--bucket,
.card__price-and-order-button-div--big-bucket {
  margin-top: 18px; }

.card__price {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px; }

.card__order-svg {
  opacity: 0.2;
  transition-duration: 0.3s; }

.card__order-button:hover .card__order-svg {
  opacity: 1;
  fill: #63d1bb; }

.card__order-button:active .card__order-svg {
  opacity: 0.3; }

@media (min-width: 768px) and (max-width: 1149px) {
  .card {
    display: grid;
    grid-template-columns: 333px 335px; }
  .card__picture-link {
    grid-row: 1/-1; }
  .card__image {
    width: 334px;
    height: auto; } }

@media (min-width: 768px) {
  .card__header {
    width: 230px;
    font-size: 20px; }
  .card__description {
    margin-top: 6px;
    font-size: 15px; }
  .card__info-div {
    display: flex;
    flex-direction: column;
    min-height: 334px;
    padding: 27px 33px 0; }
  .card__description--bucket {
    margin-top: 8px; }
  .card__price-and-order-button-div {
    margin-top: auto;
    padding: 24px 0 22px; }
  .card__price {
    font-size: 17px; } }

@media (min-width: 1150px) {
  .card__image {
    width: 316px;
    height: auto; }
  .card__info-div {
    min-height: 197px;
    padding: 27px 27px 0; }
  .card__order-button {
    margin-right: 4px; } }

.main-form__div-for-header {
  text-align: center;
  background-color: #f1f1f1; }

.main-form__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 30px; }

.main-form__header {
  width: 276px;
  margin: 0 auto;
  padding: 73px 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px; }

.main-form__intro-text {
  margin: 17px 0 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #444444; }

.main-form__form {
  margin: 15px 0 0; }

@media (min-width: 768px) {
  .main-form {
    margin-top: -66px;
    border-top: 1px solid #ececec; }
  .main-form__container {
    display: grid;
    grid-template-columns: 100px auto;
    -moz-column-gap: 68px;
         column-gap: 68px;
    width: 768px;
    padding: 0 50px; }
  .main-form__div-for-header {
    position: relative; }
    .main-form__div-for-header::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -15px;
      width: 100%;
      height: 26px;
      background-image: url("../img/zigzag-fill-tablet.svg"); }
  .main-form__form {
    margin-top: 55px; }
  .main-form__header {
    width: auto;
    max-width: 670px;
    padding: 101px 0 72px;
    font-size: 43px;
    line-height: 50px; }
  .main-form__intro-text {
    grid-column: 1/-1;
    margin-top: 69px;
    font-size: 17px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .main-form__container {
    width: 1150px;
    padding: 0 100px 0 111px;
    -moz-column-gap: 16px;
         column-gap: 16px; }
  .main-form__div-for-header::after {
    height: 34px;
    background-image: url("../img/zigzag-fill-desktop--catalog.svg"); }
  .main-form__header {
    padding: 103px 0 98px;
    font-size: 53px;
    line-height: 57px; }
  .main-form__intro-text {
    grid-column: 2;
    margin-top: 114px;
    width: 700px; } }

.menu__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  color: black; }
  .menu__item:hover {
    color: rgba(0, 0, 0, 0.6); }
  .menu__item:active {
    color: rgba(0, 0, 0, 0.3); }

.menu__item:hover .menu-search-and-bucket__icon-search,
.menu__item:hover .menu-search-and-bucket__icon-cart {
  opacity: 1;
  fill: #63d1bb;
  transition-duration: 0.3s; }

.menu__item:active .menu-search-and-bucket__icon-search,
.menu__item:active .menu-search-and-bucket__icon-cart {
  opacity: 0.3; }

.menu__link {
  display: block;
  margin: 0 auto;
  width: 260px;
  padding: 29px 20px 26px 46px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: inherit; }

.menu--hidden {
  display: none; }

@media (min-width: 768px) {
  .menu {
    display: flex; }
  .menu--hidden {
    display: flex; }
  .menu__item {
    box-shadow: none; }
  .menu__link {
    min-height: 100%;
    padding: 21px 20px; } }

.description-table {
  border-collapse: collapse; }

.description-table__header,
.description-table__value {
  width: 162px;
  padding-top: 7px;
  padding-bottom: 12px;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-bottom: 1px solid #ececec; }

.description-table__header {
  width: 97px;
  text-align: left; }

@media (min-width: 768px) {
  .description-table__header {
    width: 80px; } }

.about-us {
  padding: 31px 0; }

.about-us__header {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px; }

.about-us__advantages-list {
  margin-top: 29px; }

@media (min-width: 768px) {
  .about-us {
    padding: 57px 0; }
  .about-us__header {
    font-size: 43px;
    line-height: 50px; }
  .about-us__advantages-list {
    margin-top: 44px; } }

@media (min-width: 1150px) {
  .about-us {
    position: relative;
    padding: 71px 0 64px; }
    .about-us::before {
      position: absolute;
      content: "";
      top: -19px;
      transform: none;
      width: 1050px;
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.svg");
      background-size: 1050px; }
  .about-us__header {
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px; }
  .about-us__advantages-list {
    margin-top: 43px;
    margin-left: 175px; } }

.advantages-list {
  display: grid;
  row-gap: 29px; }

.advantages-list__item {
  position: relative;
  width: 250px;
  padding-top: 54px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px; }
  .advantages-list__item::before {
    position: absolute;
    content: "";
    top: -1px;
    left: 9px;
    width: 33px;
    height: 38px;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat; }

.advantages-list__item--style::before {
  top: 0;
  left: 0;
  width: 47px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg"); }

.advantages-list__item--likes::before {
  top: 5px;
  left: 7px;
  width: 34px;
  height: 27px;
  background-image: url("../img/icon-feature-heart.svg"); }

.advantages-list__item--love::before {
  top: 2px;
  left: 4px;
  width: 35px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg"); }

.advantages-list__item--support::before {
  top: 3px;
  left: -6px;
  width: 54px;
  height: 27px;
  background-image: url("../img/icon-feature-rocket.svg"); }

.advantages-list__item--box::before {
  top: 1px;
  left: 3px;
  width: 33px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg"); }

@media (min-width: 768px) {
  .advantages-list {
    grid-template-columns: 235px 300px;
    gap: 57px 100px; }
  .advantages-list__item {
    width: 300px;
    font-size: 20px;
    line-height: 22px; }
  .advantages-list__item--style {
    grid-row: 2;
    grid-column: 1; }
  .advantages-list__item--likes {
    grid-row: 3;
    grid-column: 1; }
  .advantages-list__item--box {
    width: 290px; } }

@media (min-width: 1150px) {
  .advantages-list {
    -moz-column-gap: 115px;
         column-gap: 115px; } }

.form {
  padding-bottom: 55px; }

.form__input-text-or-number-svg {
  opacity: 0.2; }

.form__contact-input-div:hover .form__input-text-or-number-svg {
  opacity: 1;
  fill: #62d1ba; }

.form__fieldset {
  padding: 15px 0; }
  .form__fieldset--color {
    margin-top: 18px; }
  .form__fieldset--name {
    margin-top: 13px; }
  .form__fieldset--contacts {
    margin-top: 2px; }
  .form__fieldset--extra-info {
    margin-top: 5px;
    padding-bottom: 10px; }

.form__legend {
  position: relative;
  margin: 0 0 35px;
  display: flex;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  align-items: center;
  color: #63d1bb; }
  .form__legend::after {
    content: "";
    margin-left: 25px;
    flex-grow: 1;
    height: 1px;
    background-color: #62d1ba; }
  .form__legend--name {
    margin-bottom: 30px; }
  .form__legend--contact {
    margin-bottom: 4px; }
  .form__legend--extra-info {
    margin-bottom: 22px; }

.form__legend--contact:nth-of-type(2) {
  margin-top: 36px; }

.form__label {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px; }
  .form__label--type {
    margin: 18px 0 0; }
  .form__label--color {
    margin: 43px 0 0; }

.form__label:first-child {
  margin: 0; }

.form__label-and-input-div {
  margin-top: 22px; }

.form__label-and-input-div:first-child {
  margin: 0; }

.form__input-text-or-number {
  width: 100%;
  padding: 17px 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  border: none;
  box-shadow: inset 0 -2px 0 black; }
  .form__input-text-or-number::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .form__input-text-or-number::placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .form__input-text-or-number--phone::-moz-placeholder {
    text-transform: uppercase; }
  .form__input-text-or-number--phone::placeholder {
    text-transform: uppercase; }
  .form__input-text-or-number--phone, .form__input-text-or-number--email {
    padding-right: 45px; }
  .form__input-text-or-number:hover {
    box-shadow: inset 0 -2px 0 #62d1ba; }
  .form__input-text-or-number:active, .form__input-text-or-number:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 #62d1ba; }

.form__textarea {
  width: 100%;
  min-height: 142px;
  padding: 15px;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #444444;
  resize: none; }
  .form__textarea::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .form__textarea::placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .form__textarea:hover, .form__textarea:active, .form__textarea:focus {
    outline: none;
    border: 2px solid #62d1ba; }

.form__contact-input-div {
  position: relative; }

.form__input-text-or-number-svg--phone {
  position: absolute;
  top: 12px;
  right: 7px; }

.form__input-text-or-number-svg--mail {
  position: absolute;
  top: 11px;
  right: 3px; }

.form__necessary-fields-info {
  margin: 0;
  font-size: 14px;
  line-height: 16px; }

.form__submit-button {
  margin-top: 30px;
  padding: 17px 15px 15px;
  font-family: inherit;
  font-size: 17px;
  line-height: 16px;
  background-color: white;
  color: #444444; }
  .form__submit-button:hover {
    background-color: #444444;
    color: white; }
  .form__submit-button:active {
    color: rgba(255, 255, 255, 0.3); }
  .form__submit-button:focus {
    box-shadow: 0 0 6px 2px #62d1ba; }

@media (min-width: 768px) {
  .form {
    padding-bottom: 50px; }
  .form__fieldset {
    padding: 25px 0; }
    .form__fieldset--color {
      margin-top: 41px;
      padding: 43px 0 47px;
      background-color: #f1f1f1; }
    .form__fieldset--name {
      margin-top: 24px; }
    .form__fieldset--contacts {
      margin-top: 24px;
      padding: 48px 0 50px;
      background-color: #f1f1f1; }
    .form__fieldset--extra-info {
      margin-top: 25px; }
  .form__legend {
    margin: 0;
    align-self: flex-start; }
    .form__legend::after {
      display: none; }
    .form__legend--color {
      margin-top: 24px; }
    .form__legend--name {
      margin-top: 19px; }
    .form__legend--contact {
      align-self: center; }
    .form__legend--extra-info {
      margin-top: 20px; }
  .form__legend--contact:nth-of-type(2) {
    margin-top: 22px; }
  .form__color-input-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    -moz-column-gap: 30px;
         column-gap: 30px; }
  .form__input-text-or-number-svg--phone {
    top: 13px;
    right: 26px; }
  .form__input-text-or-number-svg--mail {
    right: 22px; }
  .form__contact-input-div:nth-of-type(2) {
    margin-top: 22px; }
  .form__label-and-input-div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .form__input-text-or-number {
    margin-left: 25px;
    padding: 14px 14px 14px 17px;
    font-size: 19px; }
    .form__input-text-or-number--phone, .form__input-text-or-number--email {
      margin-left: 0;
      padding: 13px 64px 15px 17px;
      background-color: inherit; }
  .form__label {
    font-size: 19px; }
    .form__label--type {
      margin-top: 58px; }
    .form__label--color {
      margin-top: 14px;
      min-height: 62px; }
  .form__label--color:nth-of-type(-n+2) {
    margin-top: 0; }
  .form__textarea {
    font-size: 19px; }
  .form__necessary-fields-info-and-submit-button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px; }
  .form__necessary-fields-info {
    order: 2;
    font-size: 17px;
    line-height: 30px; }
  .form__submit-button {
    margin: 0;
    width: 230px; } }

@media (min-width: 1150px) {
  .form__color-input-div {
    -moz-column-gap: 17px;
         column-gap: 17px;
    grid-template-columns: 246px 247px 300px; }
  .form__necessary-fields-info-and-submit-button-div {
    margin-left: 175px;
    margin-top: 23px;
    width: 698px; }
  .form__label--color:nth-of-type(-n+3) {
    margin-top: 0; }
  .form__label-and-input-div {
    width: 698px; }
  .form__contact-input-div {
    width: 698px; }
  .form__input-text-or-number-svg--phone,
  .form__input-text-or-number-svg--mail {
    right: 6px; }
  .form__textarea {
    width: 698px; } }

.logo-and-toggle-button {
  position: relative;
  width: 320px;
  padding: 22px 0 14px;
  margin: 0 auto; }

.logo-and-toggle-button__logo {
  margin: 0 auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.logo-and-toggle-button__toggle-button {
  position: absolute;
  right: 31px;
  top: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg"); }

.logo-and-toggle-button__toggle-button--opened {
  top: 28px;
  right: 30px;
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-menu-close.svg"); }

@media (min-width: 768px) {
  .logo-and-toggle-button {
    margin: 0;
    width: 320px;
    padding: 0; }
  .logo-and-toggle-button__toggle-button {
    display: none; }
  .logo-and-toggle-button__logo {
    margin: 8px 0 0; } }

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 142px; }

.social-list__link:hover .social-list__svg {
  fill: #46c1ae; }

.social-list__link:active .social-list__svg {
  opacity: 0.3; }

.catalog-list {
  display: grid;
  row-gap: 28px; }

@media (min-width: 768px) {
  .catalog-list {
    row-gap: 54px; } }

@media (min-width: 1150px) {
  .catalog-list {
    grid-template-columns: repeat(3, 316px);
    gap: 51px; } }

.feedback-section {
  position: relative;
  padding: 26px 0 51px; }
  .feedback-section::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px; }

.feedback-section__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 30px; }

.feedback-section__header {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px; }

.feedback-section__quote {
  display: block;
  margin: 15px 0 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #444444; }
  .feedback-section__quote::before, .feedback-section__quote::after {
    content: none; }

.feedback-section__author-info-div {
  margin-top: 33px; }

.feedback-section__author {
  margin: 0;
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-style: normal; }

.feedback-section__author-insta {
  margin: 6px 0 0;
  font-size: 17px;
  line-height: 24px; }

.feedback-section__control-buttons-div {
  margin-top: 32px;
  display: flex; }

.feedback-section__button {
  margin-top: 38px; }
  .feedback-section__button:hover {
    background-color: #444444;
    color: white; }
  .feedback-section__button:active {
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .feedback-section {
    padding: 0;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px auto;
    background-repeat: no-repeat;
    overflow: hidden; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .feedback-section {
      background-image: url("../img/review@2x.jpg"); } }

@media (min-width: 768px) {
    .feedback-section::after {
      height: 9px;
      transform: scale(2.4); }
  .feedback-section__container {
    display: grid;
    grid-template-columns: 285px 175px;
    -moz-column-gap: 208px;
         column-gap: 208px;
    width: 768px;
    padding: 79px 50px 135px; }
  .feedback-section__header {
    margin-top: 5px;
    font-size: 43px;
    line-height: 50px; }
  .feedback-section__quote {
    margin-top: 38px;
    grid-row: 2;
    grid-column: 1/-1;
    font-size: 17px; }
  .feedback-section__author-info-div {
    margin-top: 60px;
    grid-row: 3; }
  .feedback-section__author {
    font-size: 18px; }
  .feedback-section__control-buttons-div {
    margin-top: 60px;
    grid-row: 3; }
  .feedback-section__button {
    align-self: baseline;
    margin: 0;
    width: auto;
    font-size: 17px; } }

@media (min-width: 1150px) {
  .feedback-section {
    width: 1050px;
    margin: 0 auto; }
    .feedback-section::after {
      display: none; }
  .feedback-section__container {
    -moz-column-gap: 415px;
         column-gap: 415px;
    padding: 78px 0 100px 175px;
    width: auto; }
  .feedback-section__header {
    margin: 0;
    font-size: 53px;
    line-height: 57px; }
  .feedback-section__quote {
    margin-top: 36px; }
  .feedback-section__author-info-div {
    margin-top: 44px; }
  .feedback-section__author {
    font-size: 17px; }
  .feedback-section__control-buttons-div {
    margin-top: 46px; } }

.email-and-address-section {
  padding: 38px 0 33px;
  display: grid;
  grid-template-columns: 76px 183px;
  row-gap: 28px; }

.email-and-address-section__header {
  grid-column: 1/-1;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px; }

.email-and-address-section__label,
.email-and-address-section__value {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #444444; }

.email-and-address-section__value--address {
  width: 150px;
  font-style: normal; }

.email-and-address-section__value--email {
  position: relative;
  text-decoration: none; }
  .email-and-address-section__value--email::after {
    position: absolute;
    content: "";
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #62d1ba; }
  .email-and-address-section__value--email:hover {
    color: #62d1ba; }
  .email-and-address-section__value--email:active::after {
    opacity: 0.1; }

@media (min-width: 768px) and (max-width: 1149px) {
  .email-and-address-section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 70px 0 48px; } }

@media (min-width: 768px) {
  .email-and-address-section__header {
    position: relative;
    margin-bottom: 21px;
    width: 100%;
    padding-right: 100px;
    font-size: 43px;
    line-height: 50px; }
    .email-and-address-section__header::after {
      position: absolute;
      content: "";
      top: -23px;
      right: 3px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat; }
  .email-and-address-section__label,
  .email-and-address-section__value {
    font-size: 17px; }
  .email-and-address-section__value--address {
    margin-left: 27px;
    width: 230px; }
  .email-and-address-section__value--address br {
    display: none; }
  .email-and-address-section__value--email {
    margin-right: 51px;
    margin-left: 24px; }
    .email-and-address-section__value--email::after {
      bottom: 0; } }

@media (min-width: 1150px) {
  .email-and-address-section {
    grid-template-columns: 78px auto;
    padding-top: 79px;
    padding-left: 112px; }
  .email-and-address-section__header {
    margin-bottom: 10px;
    padding-right: 0;
    font-size: 53px;
    line-height: 57px; }
    .email-and-address-section__header::after {
      top: -15px;
      right: auto;
      left: -111px; }
  .email-and-address-section__value--email {
    margin-right: 57px;
    margin-left: 0; }
  .email-and-address-section__value--address {
    margin-left: 0; } }

.contact-section {
  padding-bottom: 40px; }

.contact-section__container {
  margin: 0 auto;
  width: 320px;
  padding: 0 30px; }

.contact-section__map {
  line-height: 0; }

.contact-section__iframe-map {
  width: 100%;
  height: 454px;
  border: none;
  background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
  background-size: auto, 322px auto;
  background-repeat: no-repeat;
  background-position: center, center; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .contact-section__iframe-map {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg"); } }

.contact-section__button {
  margin: 42px auto 0; }
  .contact-section__button:hover {
    background-color: #444444;
    color: white; }
  .contact-section__button:active {
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .contact-section {
    padding-bottom: 57px; }
  .contact-section__container {
    width: 768px;
    padding: 0 50px; }
  .contact-section__iframe-map {
    height: 457px;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
    background-size: auto, 768px auto; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .contact-section__iframe-map {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .contact-section__button {
    margin: 55px auto 0;
    width: 230px;
    font-size: 17px; } }

@media (min-width: 1150px) {
  .contact-section {
    position: relative;
    display: grid;
    grid-template-columns: 455px 527px;
    grid-template-rows: repeat(2, auto);
    -moz-column-gap: 7px;
         column-gap: 7px;
    margin: 0 auto;
    width: 1150px;
    padding: 119px 50px 105px 112px; }
    .contact-section::before {
      position: absolute;
      content: "";
      top: 25px;
      left: 50px;
      transform: none;
      width: 1050px;
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.svg");
      background-size: 1050px; }
  .contact-section__container {
    margin: 0;
    width: auto;
    padding: 0; }
  .contact-section__iframe-map {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");
    background-size: auto, 525px auto; } }
  @media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1150px) and (min-resolution: 2dppx) {
    .contact-section__iframe-map {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg"); } }

@media (min-width: 1150px) {
  .contact-section__map {
    grid-row: 1/-1;
    grid-column: 2; }
  .contact-section__button {
    margin-top: 50px; } }

.production-process {
  padding: 22px 0 32px;
  border: 1px solid #ececec; }

.production-process__header {
  position: relative;
  margin: 0;
  padding-left: 90px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px; }
  .production-process__header::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 33px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat; }

.production-process__play-button {
  position: absolute;
  left: 79px;
  top: 37px;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.production-process__div-for-video {
  position: relative;
  margin-top: 25px; }

.production-process__div-for-video:hover .production-process__play-button {
  transform: scale(1.2); }

.production-process__div-for-video:active .production-process__play-button {
  transform: scale(0.8);
  opacity: 0.3; }

.production-process__description {
  margin: 27px auto 0;
  width: 193px; }

.production-process__order-button {
  margin: 42px auto 0;
  width: 192px; }
  .production-process__order-button:hover {
    background-color: #444444;
    color: white; }
  .production-process__order-button:active {
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .production-process {
    display: grid;
    padding: 0 0 45px; }
  .production-process__div-for-video {
    order: -1;
    margin: 0;
    min-height: 455px; }
  .production-process__play-button {
    left: 283px;
    top: 188px; }
  .production-process__image {
    display: block;
    width: 668px;
    height: auto; }
  .production-process__header {
    margin-top: 40px;
    padding-left: 106px;
    font-size: 20px; }
    .production-process__header::before {
      top: -7px;
      left: 41px; }
  .production-process__description {
    margin-top: 25px;
    width: 593px;
    font-size: 15px;
    line-height: 30px; }
  .production-process__order-button {
    margin-top: 40px;
    width: 584px;
    font-size: 17px; } }

@media (min-width: 1150px) {
  .production-process {
    display: grid;
    grid-template-columns: 683px 230px;
    grid-template-rows: -webkit-min-content -webkit-min-content 1fr;
    grid-template-rows: min-content min-content 1fr;
    -moz-column-gap: 78px;
         column-gap: 78px;
    padding-bottom: 0; }
  .production-process__image {
    width: 682px;
    height: auto; }
  .production-process__div-for-video {
    grid-column: 1;
    grid-row: 1/-1;
    margin: 0;
    min-height: 453px; }
  .production-process__play-button {
    left: 291px; }
  .production-process__header {
    padding: 96px 0 0;
    margin: 0; }
    .production-process__header::before {
      top: 41px;
      left: 0; }
  .production-process__description {
    width: auto;
    margin-top: 27px; }
  .production-process__order-button {
    margin: 51px 0 61px;
    width: 230px; } }

@media (min-width: 768px) {
  .main-index {
    margin-top: -65px;
    border-top: 1px solid #ececec; }
    .main-index::before {
      height: 15px;
      background-size: 770px; }
  .main-index__feedback-section {
    margin-top: 24px; } }

@media (min-width: 1150px) {
  .main-index {
    margin-top: -64px; }
    .main-index::before {
      top: 1400px;
      height: 21px;
      background-size: 1050px;
      background-repeat: no-repeat;
      background-position-x: center; }
  .main-index__contact-section {
    margin-top: 40px; } }

.main-nav__logo-img {
  transition-duration: 0.3s; }
  .main-nav__logo-img:hover {
    opacity: 0.6; }
  .main-nav__logo-img:active {
    opacity: 0.3; }

.main-nav__container {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec; }

.main-nav__free-delivery-paragraph,
.main-nav__menu-new-and-sell {
  display: none; }

@media (min-width: 768px) {
  .main-nav__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 768px;
    padding: 0 50px;
    border: none; }
  .main-nav__logo-img {
    width: 113px;
    height: 46px; }
  .main-nav__free-delivery-paragraph {
    order: 4;
    display: block;
    z-index: 1;
    margin: 0 0 0 auto;
    font-size: 15px;
    line-height: 24px;
    color: #444444; }
  .main-nav__menu-catalog-and-personal {
    order: 3;
    z-index: 1; }
  .main-nav__menu-new-and-sell {
    order: 2; } }

@media (min-width: 1150px) {
  .main-nav__container {
    width: 1150px; }
  .main-nav__logo-img {
    width: 149px;
    height: 72px; }
  .main-nav__menu-catalog-and-personal {
    order: 1; }
  .main-nav__logo-and-toggle-button {
    order: 2;
    margin-left: 64px;
    width: auto; }
  .main-nav__menu-search-and-bucket {
    order: 3;
    align-self: stretch;
    margin-left: 100px; }
  .main-nav__menu-new-and-sell {
    order: 4;
    display: flex;
    z-index: 1; } }

@media (min-width: 768px) {
  .menu-catalog-and-personal__link {
    width: 168px;
    padding-left: 0;
    font-size: 15px; } }

@media (min-width: 1150px) {
  .menu-catalog-and-personal__link {
    width: 186px;
    padding: 33px 0;
    font-size: 17px; }
  .menu-catalog-and-personal__link--catalog {
    border-right: 1px solid #ececec; }
  .menu-catalog-and-personal__link--private-order {
    width: 200px;
    padding-left: 34px; } }

.menu-search-and-bucket__search-link,
.menu-search-and-bucket__bucket-link {
  position: relative; }

.menu-search-and-bucket__icon-search,
.menu-search-and-bucket__icon-cart {
  position: absolute;
  top: 32px;
  left: 2px;
  opacity: 0.2; }

.menu-search-and-bucket__icon-cart {
  top: 31px;
  left: 0; }

@media (min-width: 768px) {
  .menu-search-and-bucket__search-span {
    display: none; }
  .menu-search-and-bucket__search-link {
    width: 84px;
    height: 89px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec; }
  .menu-search-and-bucket__icon-search {
    top: 36px;
    left: 34px; }
  .menu-search-and-bucket__bucket-link {
    padding: 33px 0 25px 83px; }
  .menu-search-and-bucket__icon-cart {
    top: 35px;
    left: 32px; } }

@media (min-width: 768px) {
  .menu-new-and-sell__link {
    width: 200px;
    padding-top: 18px;
    font-size: 15px; }
  .menu-new-and-sell__link--new-link {
    padding-left: 0; } }

.control-buttons-div__button {
  width: 50%;
  min-height: 52px;
  padding-top: 34px;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: 1px solid #ececec;
  cursor: pointer; }
  .control-buttons-div__button:hover {
    opacity: 0.6; }
  .control-buttons-div__button:active {
    outline: none;
    opacity: 0.3; }

.control-buttons-div__button--next {
  background-image: url("../img/icon-right-arrow.svg"); }

@media (min-width: 768px) {
  .control-buttons-div__button {
    border: none; } }

.check {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 60px;
  cursor: pointer; }

.check:hover .check__box,
.check:hover .check__radio {
  border-color: #62d1ba; }

.check:active .check__box,
.check:active .check__radio {
  border-color: rgba(0, 0, 0, 0.3); }

.check__input:focus + .check__box,
.check__input:focus + .check__radio {
  box-shadow: 0 0 6px 2px #62d1ba; }

.check__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.check__box,
.check__radio {
  position: absolute;
  content: "";
  left: 0;
  top: -10px;
  width: 38px;
  height: 39px;
  border: 2px solid #444444; }

.check__radio {
  top: -5px;
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.check__input:checked + .check__box::before,
.check__input:checked + .check__radio::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px; }

.check__input:checked + .check__box::before {
  top: 9px;
  left: 5px;
  width: 25px;
  height: 17px;
  background-image: url("../img/icon-tick.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.check__input:checked + .check__radio::before {
  background-color: #62d1ba;
  border-radius: 50%; }

@media (min-width: 768px) {
  .check {
    padding-left: 77px; }
  .check__radio {
    top: -16px;
    width: 50px;
    height: 50px; }
  .check__box {
    top: 7px;
    left: -3px;
    width: 52px;
    height: 52px; }
  .check__input:checked + .check__radio::before {
    left: 13px;
    top: 13px;
    width: 20px;
    height: 20px; }
  .check__input:checked + .check__box::before {
    top: 14px;
    left: 8px;
    width: 32px;
    height: 23px; } }

.modal {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 336px;
  text-align: center;
  background-color: white;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  transform: translate(-50%, -50%);
  z-index: 3; }

.modal--close {
  display: none; }

.modal__container {
  margin: 0 auto;
  width: 320px;
  padding: 29px 30px 46px; }

.modal__header {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase; }

.modal__choose-paragraph {
  margin: 15px 0 0;
  font-size: 15px;
  line-height: 30px; }

.modal__form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  -moz-column-gap: 7px;
       column-gap: 7px; }

.modal__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 52px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase; }

.modal__label:hover .modal__box {
  border-color: rgba(68, 68, 68, 0.3); }

.modal__box {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 82px;
  height: 52px;
  border: 2px solid rgba(68, 68, 68, 0.1); }

.modal__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.modal__input:checked + .modal__box {
  border: 2px solid #63d1bb; }

.modal__submit-button {
  grid-column: 1/-1;
  margin-top: 30px;
  width: 100%;
  padding: 19px 15px 17px;
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
  background-color: #63d1bb;
  border: none; }

@media (min-width: 768px) {
  .modal {
    width: 566px; }
  .modal__container {
    width: auto;
    padding: 37px 104px 46px 106px; }
  .modal__header {
    width: auto;
    font-size: 30px;
    line-height: 57px; }
  .modal__header br {
    display: none; }
  .modal__choose-paragraph {
    margin-top: 10px;
    font-size: 17px; }
  .modal__label {
    width: 112px; }
  .modal__box {
    width: 112px; } }

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  cursor: pointer; }

.overlay--close {
  display: none; }

/*# sourceMappingURL=style.css.map */
