// Colors
$black: black;
$almost-black: #444444;
$white: white;
$grey: #fafafa;
$grey2: #f1f1f1;
$grey3: #ececec;
$grey4: #e5e5e5;
$green: #62d1ba;
$green2: #149080;
$green-light: #63d1bb;
$green-light2: #59d5bc;
$green-dark: #56c3b2;
$green-dark2: #46c1ae;

// Screen widths
$mobile-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1150px;
